*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,body{
    width: 100%;
    height: 100%;

}
#main{
    width: 100%;
    height: 100vh;
   
}
#back{
    width: 100%;
    height: 100vh;
   
    position: relative;
    
    
}
#back img{
    width: 100%;
    height: 100%;

}
#top{
    pointer-events: none;
    width: 100%;
    height: 100vh;
   
   
    position: absolute;
    top: 0;
    left: 0;
}
#workingarea{
    width: 80%;
    max-width: 1920px;
    height: 100vh;
   
    margin: 0 auto;
    position: relative;

}
#nav{
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px;
   

}
#nav img{
    height: 60px;
}
#nleft{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
}
#nright{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
}
#nleft a{
    pointer-events: all;
    padding-top: 20px;
color: aliceblue;
text-decoration: none;
text-transform: uppercase;
font-size: 13px;
font-weight: 600;
font-family:"gilroy";
letter-spacing: 1px;

}
#nright a{
    pointer-events: all;
    padding-top: 20px;
    color: aliceblue;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    font-family:"gilroy";
   
    letter-spacing: 1px;
}
#hero{
    display: flex;
    width: 100%;
  
    top: 55%;
    left: 0%;
 
    justify-content: space-between;
    position: absolute;
    transform: translate(0,-50%);
}
    
   
#lefthero{
    min-width: 60%;
   
    height: 6vw;
}
#righthero{
    width: 25%;
    object-fit: cover;
    height: 100%;

}
#lefthero .elem{
height: 7.5vw;
position: relative;
overflow: hidden;

}
#lefthero .elem h1:nth-child(1){
    top: 0;
    left: 0;
}
#lefthero .elem h1{
    top:100%;
    left: 0%;
    position: absolute;
    text-transform: uppercase;
    font-family:Algerian;
    color: #fff;
    font-size: 7vw;
    line-height: 1;
}
#btn{
    pointer-events: all;
    cursor: pointer;
    width: 10vw;
    height: 3vw;
    text-transform: uppercase;
    font-family:Algerian;
    font-size: 2vw;
}
#righthero{
    display: flex;
    flex-direction: column;
    font-family: Amasis MT Pro Light;
    width: 17%;
   
    align-items: flex-end;
}
#imagediv{
    width: 100%;
    height: 170px;
   background-image: url("https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cG9ydHJhaXR8ZW58MHx8MHx8fDA%3D");
   background-position: top;
   background-size: cover;
   margin-top: 20px;
    margin-bottom: 30px;
}
#righthero p{
    text-align: right;
    font-size: 14px;
    color: #fff;
    font-weight: 100;
}
#righthero p:nth-child(3){
    margin-bottom: 50px;
}